<!-- <div class="back"> -->
<div class="main-content" dir="rtl">
  <main class="col px-4 py-4">
    <div class="mb-4">
      <h2 class="fw-bold">طلبات الخدمة</h2>
      <div class="text-secondary mb-3">إدارة طلبات الخدمة الفنية الخاصة بك</div>
    </div>

    <!-- سيتم تكرار الكروت هنا حسب الطلبات -->
    <!-- مثال على كرت واحد فقط مترجم -->

    @for(item of request ;track item.requestId) {
    <div class="card card-request">
      <div
        class="card-body d-flex flex-column flex-md-row align-items-md-center"
      >
        <img
          src="https://randomuser.me/api/portraits/men/31.jpg"
          class="ms-md-4 mb-3 mb-md-0"
          style="
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 2px solid #feb47b;
          "
          alt="John Smith"
        />
        <div class="flex-grow-1">
          <div class="d-flex align-items-center mb-2">
            <span class="fw-bold fs-5 ms-2"
              >جون سميث {{ item.carOwnerId }}</span
            >
            <!-- <span class="badge badge-high text-white me-2">عاجل</span> -->
          </div>
          <div class="mb-2">{{ item.description }}</div>
          <!-- <div class="d-flex gap-3 mb-2 flex-wrap">
            <span class="text-warning"><i class="bi bi-wrench-adjustable-circle"></i> تشخيص المحرك</span>
            <span class="text-primary"><i class="bi bi-geo-alt"></i> وسط المدينة</span>
            <span class="text-success"><i class="bi bi-clock"></i> منذ ساعتين</span>
          </div>
          <div class="fw-bold fs-4 text-success">150-200 دولار</div> -->
        </div>
        <div class="d-flex flex-column gap-2 me-md-4 mt-3 mt-md-0">
          <button class="btn btn-outline-dark">
            <i class="bi bi-eye"></i> عرض التفاصيل
          </button>
          @if(showBookingButton){
          <!-- <button class="btn btn-success">قبول الطلب</button> -->
          <button class="btn btn-apply">تقديم الآن</button>

          }@else{
          <button class="btn btn-outline-success">
            <i class="bi bi-check-circle"></i> موافقة
          </button>

          }
          <!-- <ng-content></ng-content> -->
        </div>
      </div>
    </div>

    }
  </main>
</div>
<!-- </div> -->
