<!-- Chat Messages -->
<div class="chat-messages-container" #scrollContainer>
  @if (chatDetails?.messages) { @if(chatDetails?.messages?.length !== 0){ @for
  (message of chatDetails?.messages; track $index) { @if (message.applicationId
  === userId) {
  <!-- رسالتي أنا -->
  <div class="message-group client">
    <div class="message-content">
      <div class="message-bubble">
        {{ message.text }}
      </div>
      <div class="message-timestamp">
        {{ message.sentAt | date : "hh:mm a" }}
      </div>
    </div>
    <div class="message-avatar-container">
      <div class="role-badge client">
        <i class="fas fa-user"></i>
      </div>
    </div>
  </div>
  } @else {
  <!-- رسالة من الطرف التاني -->
  <div class="message-group technician">
    <div class="message-avatar-container">
      <div class="role-badge technician">
        <i class="fas fa-wrench"></i>
      </div>
    </div>
    <div class="message-content">
      <div class="message-bubble">
        {{ message.text }}
      </div>
      <div class="message-timestamp">
        {{ message.sentAt | date : "hh:mm a" }}
      </div>
    </div>
  </div>
  } } } @else {
  <div class="no-messages">لا توجد رسائل في طلبك الحالي</div>
  }

  <div #bottomOfMessages></div>

  <!-- Chat Input -->
  <div class="chat-input-section">
    <div class="input-container">
      <button class="attachment-btn camera">
        <i class="fas fa-camera"></i>
      </button>
      <button class="attachment-btn file">
        <i class="fas fa-paperclip"></i>
      </button>
      <div class="message-input-wrapper">
        <input
          type="text"
          placeholder="اكتب رسالة..."
          class="message-input"
          [(ngModel)]="Message"
        />
        <button class="emoji-btn">
          <i class="fas fa-smile"></i>
        </button>
      </div>

      <button class="send-message-btn" (click)="SendMessage()">
        <i class="fas fa-paper-plane"></i>
      </button>
    </div>
  </div>
  } @else {
  <div class="no-messages">لا يوجد طلب جارى</div>
  }
</div>
