<!-- Sidebar for desktop -->
<div class="sidebar d-none d-lg-block" dir="rtl">
  <div class="mb-4 d-flex align-items-center gap-2">
    <div>
      <div class="fw-bold fs-5">تيك برو</div>
      <div class="small text-secondary">منصة المستقلين</div>
    </div>
  </div>
  <ul class="nav flex-column mb-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/technician/profiletech" routerLinkActive="active">  <i class="fas fa-user-circle header-icon"></i>الملف الشخصي</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="/technician/requests" [ngClass]="{ 'active': isRequestsOrDetails() }"><i class="bi bi-list-task ms-2"></i>الطلبات</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/technician/accepted-requests" routerLinkActive="active"><i class="fas fa-check-circle ms-2"></i>الطلبات المقبولة</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"routerLink="/technician/techservieces" [ngClass]="{ 'active': isRequestsOrDetailsall() }"><i class="bi bi-truck ms-2"></i>الخدمات</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/technician/techchat" routerLinkActive="active"><i class="bi bi-chat-dots ms-2"></i>المحادثات</a>
    </li>
     <li class="nav-item">
        <a class="nav-link"routerLink="/technician/historytech" routerLinkActive="active"  ><i class="fas fa-history header-icon"></i> history</a>
      </li>

       <li class="nav-item">
        <a class="nav-link"routerLink="/login" routerLinkActive="active" (click)="logout()" > <i class="fas fa-sign-out-alt"></i>
         <span>تسجيل الخروج</span></a>
      </li>

  </ul>
  <div class="profile mt-auto d-flex align-items-center gap-2">
    <img src="https://static.vecteezy.com/system/resources/previews/028/569/170/original/single-man-icon-people-icon-user-profile-symbol-person-symbol-businessman-stock-vector.jpg" alt="John Doe" width="40" class="rounded-circle" />
    <div>
      <div class="fw-bold"> {{tech?.name}}</div>
      <div class="small text-secondary">فني</div>
    </div>
    <i class="bi bi-gear me-auto"></i>
  </div>
  <!-- <a *ngIf="isLoggedIn()" class="nav-action-btn" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i>
        <span>تسجيل الخروج</span>
      </a> -->
</div>

<!-- Navbar for mobile  -->
<nav class="sidebar-top d-lg-none" dir="rtl">
  <div class="d-flex justify-content-between align-items-center">
    <div class="fw-bold fs-4"> {{Name}}</div>
    <button class="btn btn-sm btn-light" (click)="toggleMenu()">
      <i class="bi bi-list"></i> القائمة
    </button>
  </div>
  <div class="mt-2" [style.display]="menuVisible ? 'block' : 'none'">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/technician/profiletech" routerLinkActive="active" ><i class="bi bi-tools ms-2"></i> الملف الشخصي</a>
      </li>
      <li class="nav-item">
        <a class="nav-link "routerLink="/technician/requests" [ngClass]="{ 'active': isRequestsOrDetails() }" ><i class="bi bi-list-task ms-2"></i>الطلبات</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/technician/accepted-requests" routerLinkActive="active"><i class="fas fa-check-circle ms-2"></i>الطلبات المقبولة</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/technician/techservieces" [ngClass]="{ 'active': isRequestsOrDetailsall() }"  ><i class="bi bi-truck ms-2"></i>الخدمات</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"routerLink="/technician/techchat" routerLinkActive="active"  ><i class="bi bi-chat-dots ms-2"></i>المحادثات</a>
      </li>
       <li class="nav-item">
        <a class="nav-link"routerLink="/technician/historytech" routerLinkActive="active"  ><i class="fas fa-history header-icon"></i>history</a>
      </li>


      <li class="nav-item">
        <a class="nav-link"routerLink="/login" routerLinkActive="active" (click)="logout()" > <i class="fas fa-sign-out-alt"></i>
         <span>تسجيل الخروج</span></a>
      </li>
    </ul>
  </div>
</nav>
