<app-template-request
[request]="request"

>
</app-template-request>



 <!-- <app-template-sweet
  (onApproveClicked)="handleApprove()"
  data-bs-toggle="modal" data-bs-target="#sweetAlertModal"
></app-template-sweet> -->
<!-- <app-template-sweet
  [message]="'✅ Congratulations'"
  [visible]="showSuccess"
></app-template-sweet> -->


<!--  -->
<!-- (onAcceptClicked)="openAlert($event)" -->
<!-- <app-template-sweet
  [title]="alertTitle"
  [message]="alertMessage"
  (onConfirm)="handleConfirm(selectedRequest)">
</app-template-sweet> -->

