<div class="modal fade" id="sweetAlertModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-icon mb-3">
        <i class="bi bi-question-lg"></i>
      </div>
      <h3 class="fw-bold mb-3">Are you sure?</h3>
      <div class="mb-4 text-secondary">
        Do you want to apply for this service request?
      </div>
      <div class="d-flex justify-content-center gap-2">
        
        <button type="button" class="btn btn-orange px-4" >Yes, I'm sure!</button>
        <button type="button" class="btn btn-darkgray px-4" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
